eca-server/src/main/resources/evaluation-results/evaluation-results.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:evaluation="http://schemas.xmlsoap.org/soap/envelope/"
            targetNamespace="http://schemas.xmlsoap.org/soap/envelope/"
            elementFormDefault="qualified">

    <xsd:simpleType name="evaluationMethod">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="TRAINING_DATA"/>
            <xsd:enumeration value="CROSS_VALIDATION"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="responseStatus">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="SUCCESS"/>
            <xsd:enumeration value="DUPLICATE_REQUEST_ID"/>
            <xsd:enumeration value="DATA_NOT_FOUND"/>
            <xsd:enumeration value="RESULTS_NOT_FOUND"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="inputOptionsMap">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="entry">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="key">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="255"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="value">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="255"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="classifierReport">
        <xsd:sequence>
            <xsd:element name="classifierName">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="255"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="classifierDescription" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="255"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="options">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="inputOptionsMap" type="evaluation:inputOptionsMap"/>
            <xsd:element name="metaClassifier" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ensembleClassifierReport">
        <xsd:complexContent>
            <xsd:extension base="evaluation:classifierReport">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="individualClassifiers"
                                 type="evaluation:classifierReport"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="evaluationMethodReport">
        <xsd:sequence>
            <xsd:element name="evaluationMethod" type="evaluation:evaluationMethod"/>
            <xsd:element name="numFolds" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                        <xsd:minInclusive value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="numTests" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                        <xsd:minInclusive value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="seed" type="xsd:integer" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="instancesReport">
        <xsd:sequence>
            <xsd:element name="xmlInstances">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="relationName">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="255"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="numInstances">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                        <xsd:minInclusive value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="numAttributes">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                        <xsd:minInclusive value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="numClasses">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                        <xsd:minInclusive value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="className">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="255"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="statisticsReport">
        <xsd:sequence>
            <xsd:element name="numTestInstances">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                        <xsd:minInclusive value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="numCorrect">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                        <xsd:minInclusive value="0"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="numIncorrect">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                        <xsd:minInclusive value="0"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="pctCorrect">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="100"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="pctIncorrect">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="100"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="meanAbsoluteError" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="rootMeanSquaredError" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="maxAucValue" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="varianceError" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="confidenceIntervalLowerBound" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="confidenceIntervalUpperBound" type="xsd:decimal" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="rocCurveReport">
        <xsd:sequence>
            <xsd:element name="aucValue" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="specificity" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="sensitivity" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="thresholdValue" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="classificationCostsReport">
        <xsd:sequence>
            <xsd:element name="classValue">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="255"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="truePositiveRate">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="falsePositiveRate">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="trueNegativeRate">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="falseNegativeRate">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="rocCurve" minOccurs="0" type="evaluation:rocCurveReport"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="confusionMatrixReport">
        <xsd:sequence>
            <xsd:element name="actualClass">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="255"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="predictedClass">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="255"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="numInstances">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                        <xsd:minInclusive value="0"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="evaluationResultsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="requestId">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:pattern
                                    value="[0-9a-f]{8}-[0-9a-f]{4}-[34][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="instances" type="evaluation:instancesReport"/>
                <xsd:element name="classifierReport" type="evaluation:classifierReport"/>
                <xsd:element name="evaluationMethodReport" type="evaluation:evaluationMethodReport"/>
                <xsd:element name="statistics" type="evaluation:statisticsReport"/>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="classificationCosts"
                             type="evaluation:classificationCostsReport"/>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="confusionMatrix"
                             type="evaluation:confusionMatrixReport"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="evaluationResultsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="requestId" type="xsd:string"/>
                <xsd:element name="status" type="evaluation:responseStatus"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="classifierOptionsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="instances" type="evaluation:instancesReport"/>
                <xsd:element name="evaluationMethodReport" type="evaluation:evaluationMethodReport"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="classifierOptionsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="requestId" type="xsd:string"/>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="classifierReports"
                             type="evaluation:classifierReport"/>
                <xsd:element name="status" type="evaluation:responseStatus"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getEvaluationResultsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="requestId">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:pattern
                                    value="[0-9a-f]{8}-[0-9a-f]{4}-[34][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getEvaluationResultsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="requestId" type="xsd:string"/>
                <xsd:element name="status" type="evaluation:responseStatus"/>
                <xsd:element name="instances" type="evaluation:instancesReport"/>
                <xsd:element name="classifierReport" type="evaluation:classifierReport"/>
                <xsd:element name="evaluationMethodReport" type="evaluation:evaluationMethodReport"/>
                <xsd:element name="statistics" type="evaluation:statisticsReport"/>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="classificationCosts"
                             type="evaluation:classificationCostsReport"/>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="confusionMatrix"
                             type="evaluation:confusionMatrixReport"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>